<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Autó Szerelő</title>
</head>
<body>
    <div>
        <a th:href="@{/javitasok/mentes}">Javítások kiírása CSV fájlba</a>
    </div>
    <div>
        <a th:href="@{/javitasok/uj}">Új javítás felvétele</a>
    </div>
    <div>
        <form action="#" th:action="@{/javitasok/szures}" method="post" th:object="${javitasSzur}">
            <input type="text" th:field="*{szerelo.nev}" placeholder="Szerelő neve" required>
            <input type="number" th:field="*{iranyar}" min="5000" max="100000" step="1000" placeholder="Minimum ár" required>
            <input type="submit">
        </form>
    </div>
    <table border="1">
        <thead>
            <td>Javítás sorszáma</td>
            <td>Autós neve</td>
            <td>Autó típusa</td>
            <td>Javítás dátuma</td>
            <td>Ár</td>
            <td>Megtekint</td>
        </thead>

        <tbody>
            <tr th:each="javitas : ${javitasok}">
                <td th:text="${javitas.id}"></td>
                <td th:text="${javitas.autos.nev}"></td>
                <td th:text="${javitas.autos.tipus.tipusnev}"></td>
                <td th:text="${javitas.datum}"></td>
                <td th:text="${javitas.iranyar}"></td>
                <td>
                    <a th:href="@{/javitasok/javitas/{id}(id=${javitas.id})}">Megtekint</a>
                    <!--localhost:8080/javitasok/javitas/2-->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>